#!/bin/bash

# for aws
export AWS_ACCESS_KEY_ID=<YOUR AWS KEY>
export AWS_SECRET_ACCESS_KEY=<YOUR AWS ACCESS KEY>
export AWS_KEYPAIR_NAME=<KEYPAIR TO USE>
export AWS_SSH_PRIVKEY=<PATH TO THE PRIVATE KEY FOR THE KEYPAIR>

# for digitalocean
export DIGITALOCEAN_TOKEN=<YOUR DIGITALOCEAN KEY>
export DIGITALOCEAN_PRIVATE_KEY_PATH=<PATH TO YOUR PRIVATE KEY>
